body {
  background-image: url(https://motionarray.imgix.net/preview-57687PKKU45bOO7_0010.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header,
.post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#header {
  background-color: black;
  color: white;
}

#navbar {
}

#title {
  color: rgb(8, 248, 0);
}

#login {
  color: rgb(8, 248, 0);
  margin: 10px;
}

#logout {
  color: rgb(8, 248, 0);
  margin: 10px;
}

#homebutton {
  color: rgb(8, 248, 0);
  margin: 10px;
}

#dashbutton {
  color: rgb(8, 248, 0);
  margin: 10px;
}

.btn {
  background-color: rgb(8, 248, 0);
  color: black;
  font-size: medium;
}

.post {
  color: rgb(8, 248, 0);
}

#post {
  color: rgb(8, 248, 0);
}

.form {
  color: rgb(8, 248, 0);
}

#welcome {
  color: rgb(8, 248, 0);
}

#postlink {
  color: rgb(8, 248, 0);
}
